.presentation {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
  padding: 1em 0 2em 0;
  border-bottom: 1px solid #21262d;
  text-align: left;

  * {
    line-height: 150%;
  }

  h1 {
    font-size: 1.7em;
    color: #c9d1d9;
  }

  p {
    font-size: 1.2em;
    font-weight: 300;
    color: #8b949e;
  }

  @media (max-width: 950px) {
    padding: 1.5em 0 1em 0;
    gap: 0.2em;

    h1 {
      font-size: 1.5em;
    }

    p {
      font-size: 1em;
    }
  }
}
