.presentation {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
  padding: 1em 0 2em 0;
  border-bottom: 1px solid #edf1f5;

  * {
    line-height: 150%;
  }

  h1 {
    font-size: 1.7em;
    color: #1e2333;
  }

  p {
    font-size: 1.2em;
    font-weight: 300;
    color: #59616e;
  }
}

.goalsList {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 100%;
  padding: 2em 0;

  li {
    width: 100%;
    display: flex;
  }

  li:last-child {
    border-bottom: none;
  }
}
