.goalsList {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 100%;
  padding: 2em 0;

  li {
    width: 100%;
    display: flex;
  }

  li:last-child {
    border-bottom: none;
  }
}
