.container {
  position: fixed;
  bottom: 3em;
  right: 3em;

  width: 4em;
  height: 4em;
  background: #404eed;
  color: white;
  border-radius: 50%;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  box-shadow: 0px 4px 4px 0 rgb(0 0 0 / 20%);

  &:hover {
    transform: scale(1.15);
  }
}
