.presentationContainer {
  display: flex;
  align-items: center;
  gap: 2em;
  width: 100%;
}

.form {
  flex: 1;
  padding: 2em 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 0;
}

.gridGroup {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8em;

  @media (max-width: 950px) {
    grid-template-columns: 1fr;
    gap: 1.5em;
  }
}

.formGrid {
  display: flex;
  flex-direction: column;
  gap: 2em;

  @media (max-width: 950px) {
    gap: 1.5em;
  }
}

.endForecastContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  color: #c9d1d9;
}

.buttonGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8em;

  a {
    display: flex;
  }

  button {
    flex: 1;
    padding: 1em 0;
    font-size: 1.15em;
    border-radius: 0.3em;
    border: 1px solid darken(#8b949e, 25);
    color: #c9d1d9;
    transition: all 0.4s;
  }

  .outlineButton {
    font-weight: 500;
    background: transparent;

    &:hover {
      background: #30363d3a;
    }
  }

  .primaryButton {
    font-weight: 600;
    background: #30363d;

    &:hover {
      background: lighten(#30363d, 5);
    }
  }

  @media (max-width: 950px) {
    gap: 1.5em;
    margin-top: 1.5em;
  }
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.errorMessage {
  font-size: 0.9em;
  color: #f44336;
}
