.container {
  flex: 1;
  background: #161b22;
  border-radius: 1em;
  border: 1px solid #21262d;
  padding: 1.5em;
  user-select: none;
  transition: all 0.2s;
  display: flex;
  flex-direction: column;
  gap: 1em;

  &:hover {
    transform: scale(1.025);
    border-color: darken(#ffffff, 75);

    button {
      opacity: 1;
    }
  }
}

.accomplishedContainer {
  background: #1aae9f1e;
}

.header {
  h2 {
    font-weight: 600;
    font-size: 1.5em;
    color: #c9d1d9;

    display: flex;
    align-items: center;
    gap: 0.5em;

    img {
      width: 1.25em;
    }
  }

  p {
    font-size: 1.1em;
    line-height: 180%;
    font-weight: 300;
    color: #c9d1d9;
    text-align: justify;
  }
}

.titleContainer {
  display: flex;
  align-items: center;
  gap: 2.5em;
  margin-bottom: 0.5em;

  div {
    display: flex;
    align-items: center;
    gap: 1em;

    button {
      opacity: 0;
      font-size: 1.05em;
      font-weight: 300;
      padding: 0.5em 1em;
      line-height: 150%;
      transition: all 0.2s;

      display: flex;
      align-items: center;
      gap: 0.5em;
      color: #c9d1d9;
      background: transparent;
      border: none;
      border-radius: 0.3em;

      &:hover {
        background: lighten(#161b22, 4);
      }
    }
  }
}

.attributes {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.progress {
  display: flex;
  flex-direction: column;
  gap: 1em;

  h3 {
    font-size: 1.1em;
    font-weight: 300;
    color: #c9d1d9;
  }
}
