$primary: #404eed;
$primaryShadow: #404eed3d;
$theme: #ffffff;

.header {
  background-color: $primary;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 3.2em 5em;
  position: relative;
  box-shadow: 2px 2px 4px 0 $primaryShadow;

  button {
    padding: 0.8em 3em;
    border-radius: 0.3em;
    border: none;
    font-weight: 600;
    line-height: 150%;
    font-size: 1.1em;
    color: $theme;
    background: darken($primary, 2);
    transition: all 0.2s;

    &:hover {
      transform: scale(1.1);
      background: darken($primary, 4);
    }
  }
}

.userPictureContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 6em;
  bottom: -3.5em;

  img {
    width: 8em;
    height: 8em;
    border-radius: 50%;
    background-color: $theme;
    border: 0.4em solid $theme;
    box-shadow: 0px 2px 4px 0 rgb(0 0 0 / 12%);
  }
}

.container {
  padding: 4.5em;
  min-height: calc(100vh - 9.8em);
  display: flex;
  flex-direction: column;
}
