.floating {
  position: fixed;
  bottom: 3em;
  right: 3em;
}

.button {
  width: 4em;
  height: 4em;
  background: #1F6FEB;
  color: white;
  border-radius: 50%;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  box-shadow: 0px 4px 4px 0 rgb(0 0 0 / 20%);

  svg {
    width: 1.5625em;
    height: 1.5625em;
  }

  &:hover {
    transform: scale(1.15);
  }
}

.small-button {
  width: 3em;
  height: 3em;

  svg {
    width: 1.25em;
    height: 1.25em;
  }
}
